:root {
  --backgrounddisabled-0: rgba(248, 250, 251, 1);
  --backgroundnormal-25: rgba(246, 248, 250, 1);
  --backgroundpressed-100: rgba(223, 225, 231, 1);
  --backgroundwhite: rgba(255, 255, 255, 1);
  --blackblack: rgba(0, 0, 0, 1);
  --blue-0: rgba(235, 240, 250, 1);
  --blue-100: rgba(219, 234, 254, 1);
  --blue-400: rgba(75, 133, 250, 1);
  --blue-500: rgba(34, 100, 229, 1);
  --brand-100: rgba(219, 234, 254, 1);
  --brand-50: rgba(239, 246, 255, 1);
  --brand-500: rgba(59, 130, 246, 1);
  --brand-600: rgba(37, 99, 235, 1);
  --brand-700: rgba(29, 78, 216, 1);
  --caption-font-family: "Jost-Regular", Helvetica;
  --caption-font-size: 12px;
  --caption-font-style: normal;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0px;
  --caption-line-height: 150%;
  --error-100: rgba(255, 228, 230, 1);
  --error-500: rgba(244, 63, 94, 1);
  --error-600: rgba(225, 29, 72, 1);
  --error-700: rgba(190, 18, 60, 1);
  --form-button-destructive-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 1px rgba(183, 24, 54, 1), 0px 1px 2px 0px rgba(113, 14, 33, 0.5);
  --form-button-destructive-normal: 0px 0px 0px 1px rgba(183, 24, 54, 1), 0px 1px 2px 0px rgba(113, 14, 33, 0.5);
  --form-button-ghost-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1);
  --form-button-primary-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 1px rgba(79, 71, 235, 1), 0px 1px 2px 0px rgba(26, 19, 161, 0.5);
  --form-button-primary-normal: 0px 0px 0px 1px rgba(79, 71, 235, 1), 0px 1px 2px 0px rgba(26, 19, 161, 0.5);
  --form-button-secondary-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 1px rgba(18, 55, 105, 0.08), 0px 1px 2px 0px rgba(164, 172, 185, 0.4);
  --form-button-secondary-normal: 0px 0px 0px 1px rgba(18, 55, 105, 0.08), 0px 1px 2px 0px rgba(164, 172, 185, 0.24);
  --gray-0: rgba(247, 249, 252, 1);
  --gray-100: rgba(241, 245, 249, 1);
  --gray-200: rgba(226, 232, 240, 1);
  --gray-300: rgba(203, 213, 225, 1);
  --gray-400: rgba(134, 143, 160, 1);
  --gray-50: rgba(233, 237, 245, 1);
  --gray-500: rgba(104, 113, 130, 1);
  --gray-600: rgba(90, 99, 118, 1);
  --gray-700: rgba(70, 79, 96, 1);
  --gray-900: rgba(23, 28, 38, 1);
  --green-0: rgba(225, 252, 239, 1);
  --green-400: rgba(56, 160, 108, 1);
  --green-500: rgba(20, 128, 74, 1);
  --header-h3-font-family: "Inter-Bold", Helvetica;
  --header-h3-font-size: 20px;
  --header-h3-font-style: normal;
  --header-h3-font-weight: 700;
  --header-h3-letter-spacing: 0.2px;
  --header-h3-line-height: 28px;
  --iconloud-900: rgba(13, 13, 18, 1);
  --indigo-0: rgba(237, 237, 252, 1);
  --indigo-300: rgba(158, 155, 245, 1);
  --indigo-400: rgba(128, 124, 234, 1);
  --indigo-500: rgba(94, 90, 219, 1);
  --indigo-600: rgba(73, 69, 196, 1);
  --label-small-font-family: "Inter-Medium", Helvetica;
  --label-small-font-size: 14px;
  --label-small-font-style: normal;
  --label-small-font-weight: 500;
  --label-small-letter-spacing: 0px;
  --label-small-line-height: 20px;
  --neutralblack: rgba(0, 0, 0, 1);
  --orange-0: rgba(252, 242, 230, 1);
  --orange-100: rgba(255, 237, 213, 1);
  --orange-400: rgba(201, 122, 32, 1);
  --orange-500: rgba(170, 91, 0, 1);
  --overline-font-family: "Inter-Medium", Helvetica;
  --overline-font-size: 12px;
  --overline-font-style: normal;
  --overline-font-weight: 500;
  --overline-letter-spacing: 0.36px;
  --overline-line-height: 18px;
  --pr-button-default: 0px 0px 0px 1px rgba(94, 90, 219, 1), 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  --pr-button-focus: 0px 0px 0px 4px rgba(94, 90, 219, 0.4), 0px 0px 0px 1px rgba(94, 90, 219, 1),
    0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  --pr-button-hover: 0px 0px 0px 1px rgba(73, 69, 196, 1), 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  --pr-button-inactive: 0px 0px 0px 1px rgba(158, 155, 245, 1), 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  --primarycontrast: rgba(40, 40, 40, 1);
  --primarymain: rgba(20, 20, 20, 1);
  --red-0: rgba(255, 237, 239, 1);
  --red-400: rgba(239, 84, 102, 1);
  --red-500: rgba(209, 41, 61, 1);
  --sd-button-default: 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  --sd-button-focus: 0px 0px 0px 4px rgba(94, 90, 219, 0.4), 0px 0px 0px 1px rgba(70, 79, 96, 0.32),
    0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  --sd-button-inactive: 0px 0px 0px 1px rgba(70, 79, 96, 0.2);
  --secondaryred-100: rgba(223, 28, 65, 1);
  --secondaryred-200: rgba(150, 19, 44, 1);
  --subtitle-s2-font-family: "Inter-Medium", Helvetica;
  --subtitle-s2-font-size: 14px;
  --subtitle-s2-font-style: normal;
  --subtitle-s2-font-weight: 500;
  --subtitle-s2-letter-spacing: 0.28px;
  --subtitle-s2-line-height: 20px;
  --success-100: rgba(209, 250, 229, 1);
  --success-500: rgba(16, 185, 129, 1);
  --success-600: rgba(5, 150, 105, 1);
  --success-700: rgba(4, 120, 87, 1);
  --text-base-regular-font-family: "SFPro Text-Regular", Helvetica;
  --text-base-regular-font-size: 16px;
  --text-base-regular-font-style: normal;
  --text-base-regular-font-weight: 400;
  --text-base-regular-letter-spacing: 0px;
  --text-base-regular-line-height: 24px;
  --text-sm-medium-font-family: "Inter-Medium", Helvetica;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-font-style: normal;
  --text-sm-medium-font-weight: 500;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-regular-font-family: "SFPro Text-Regular", Helvetica;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-font-style: normal;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 20px;
  --text-t4-font-family: "Inter-Medium", Helvetica;
  --text-t4-font-size: 14px;
  --text-t4-font-style: normal;
  --text-t4-font-weight: 500;
  --text-t4-letter-spacing: -0.28px;
  --text-t4-line-height: 129.99999523162842%;
  --text-xs-regular-font-family: "SFPro Text-Regular", Helvetica;
  --text-xs-regular-font-size: 12px;
  --text-xs-regular-font-style: normal;
  --text-xs-regular-font-weight: 400;
  --text-xs-regular-letter-spacing: 0px;
  --text-xs-regular-line-height: 16px;
  --textdisabled-300: rgba(164, 172, 185, 1);
  --textloud-900: rgba(13, 13, 18, 1);
  --textmuted-600: rgba(54, 57, 74, 1);
  --textnormal-500: rgba(102, 109, 128, 1);
  --textsubdued-400: rgba(129, 136, 152, 1);
  --textwhite: rgba(255, 255, 255, 1);
  --violet-100: rgba(237, 233, 254, 1);
  --violet-500: rgba(139, 92, 246, 1);
  --warning-100: rgba(254, 243, 199, 1);
  --warning-500: rgba(245, 158, 11, 1);
  --white: rgba(255, 255, 255, 1);
  --whitewhite: rgba(255, 255, 255, 1);
}
