:root {
  --backgrounddisabled-0: rgba(248, 250, 251, 1);
  --backgroundnormal-25: rgba(246, 248, 250, 1);
  --backgroundpressed-100: rgba(223, 225, 231, 1);
  --backgroundwhite: rgba(255, 255, 255, 1);
  --blackblack: rgba(0, 0, 0, 1);
  --blue-100: rgba(219, 234, 254, 1);
  --blue-500: rgba(59, 130, 246, 1);
  --body-small-font-family: "Inter-Regular", Helvetica;
  --body-small-font-size: 14px;
  --body-small-font-style: normal;
  --body-small-font-weight: 400;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: 20px;
  --body-xsmall-font-family: "Inter-Regular", Helvetica;
  --body-xsmall-font-size: 12px;
  --body-xsmall-font-style: normal;
  --body-xsmall-font-weight: 400;
  --body-xsmall-letter-spacing: 0px;
  --body-xsmall-line-height: 16px;
  --brand-100: rgba(219, 234, 254, 1);
  --brand-500: rgba(59, 130, 246, 1);
  --caption-font-family: "Jost-Regular", Helvetica;
  --caption-font-size: 12px;
  --caption-font-style: normal;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0px;
  --caption-line-height: 150%;
  --display-xsmall-font-family: "Inter-Medium", Helvetica;
  --display-xsmall-font-size: 32px;
  --display-xsmall-font-style: normal;
  --display-xsmall-font-weight: 500;
  --display-xsmall-letter-spacing: -0.32px;
  --display-xsmall-line-height: 40px;
  --display-xxsmall-font-family: "Inter-Medium", Helvetica;
  --display-xxsmall-font-size: 24px;
  --display-xxsmall-font-style: normal;
  --display-xxsmall-font-weight: 500;
  --display-xxsmall-letter-spacing: -0.24px;
  --display-xxsmall-line-height: 32px;
  --error-100: rgba(255, 228, 230, 1);
  --error-500: rgba(244, 63, 94, 1);
  --form-button-destructive-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 1px rgba(183, 24, 54, 1), 0px 1px 2px 0px rgba(113, 14, 33, 0.5);
  --form-button-destructive-normal: 0px 0px 0px 1px rgba(183, 24, 54, 1), 0px 1px 2px 0px rgba(113, 14, 33, 0.5);
  --form-button-ghost-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1);
  --form-button-primary-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 1px rgba(79, 71, 235, 1), 0px 1px 2px 0px rgba(26, 19, 161, 0.5);
  --form-button-primary-normal: 0px 0px 0px 1px rgba(79, 71, 235, 1), 0px 1px 2px 0px rgba(26, 19, 161, 0.5);
  --form-button-secondary-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 1px rgba(18, 55, 105, 0.08), 0px 1px 2px 0px rgba(164, 172, 185, 0.4);
  --form-button-secondary-normal: 0px 0px 0px 1px rgba(18, 55, 105, 0.08), 0px 1px 2px 0px rgba(164, 172, 185, 0.24);
  --gray-200: rgba(226, 232, 240, 1);
  --gray-700: rgba(51, 65, 85, 1);
  --heading-medium-font-family: "Inter-Medium", Helvetica;
  --heading-medium-font-size: 18px;
  --heading-medium-font-style: normal;
  --heading-medium-font-weight: 500;
  --heading-medium-letter-spacing: 0px;
  --heading-medium-line-height: 24px;
  --heading-small-font-family: "Inter-Medium", Helvetica;
  --heading-small-font-size: 16px;
  --heading-small-font-style: normal;
  --heading-small-font-weight: 500;
  --heading-small-letter-spacing: 0px;
  --heading-small-line-height: 24px;
  --label-small-font-family: "Inter-Medium", Helvetica;
  --label-small-font-size: 14px;
  --label-small-font-style: normal;
  --label-small-font-weight: 500;
  --label-small-letter-spacing: 0px;
  --label-small-line-height: 20px;
  --label-xsmall-font-family: "Inter-Medium", Helvetica;
  --label-xsmall-font-size: 12px;
  --label-xsmall-font-style: normal;
  --label-xsmall-font-weight: 500;
  --label-xsmall-letter-spacing: 0px;
  --label-xsmall-line-height: 16px;
  --orange-100: rgba(255, 237, 213, 1);
  --orange-500: rgba(249, 115, 22, 1);
  --primarycontrast: rgba(40, 40, 40, 1);
  --primarymain: rgba(20, 20, 20, 1);
  --secondaryred-100: rgba(223, 28, 65, 1);
  --secondaryred-200: rgba(150, 19, 44, 1);
  --success-100: rgba(209, 250, 229, 1);
  --success-500: rgba(16, 185, 129, 1);
  --text-t4-font-family: "Inter-Medium", Helvetica;
  --text-t4-font-size: 14px;
  --text-t4-font-style: normal;
  --text-t4-font-weight: 500;
  --text-t4-letter-spacing: -0.28px;
  --text-t4-line-height: 129.99999523162842%;
  --text-xs-regular-font-family: "SFPro Text-Regular", Helvetica;
  --text-xs-regular-font-size: 12px;
  --text-xs-regular-font-style: normal;
  --text-xs-regular-font-weight: 400;
  --text-xs-regular-letter-spacing: 0px;
  --text-xs-regular-line-height: 16px;
  --textdisabled-300: rgba(164, 172, 185, 1);
  --textloud-900: rgba(13, 13, 18, 1);
  --textmuted-600: rgba(54, 57, 74, 1);
  --textwhite: rgba(255, 255, 255, 1);
  --violet-100: rgba(237, 233, 254, 1);
  --violet-500: rgba(139, 92, 246, 1);
  --warning-100: rgba(254, 243, 199, 1);
  --warning-500: rgba(245, 158, 11, 1);
  --whitewhite: rgba(255, 255, 255, 1);
}
